.app {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: center;
  text-align: center;
}

.card {
  /* margin: auto; */
  max-width: 100%;
  text-align: center;
  align-items: center;
}

.img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
